$space: (
  s: $gutter-m / 2,
  m: $gutter-m,
  l: $gutter-m * 2,
  xl: $gutter-m * 4
);

$space-s: map-get($space, s);
$space-m: map-get($space, m);
$space-l: map-get($space, l);
$space-xl: map-get($space, xl);
