$space: (
  s: $base-line-height / 2,
  m: $base-line-height,
  l: $base-line-height * 2,
  xl: $base-line-height * 4
);

$space-s: map-get($space, s);
$space-m: map-get($space, m);
$space-l: map-get($space, l);
$space-xl: map-get($space, xl);
