<?php

define('ENV_ENV', 'development');

define('ENV_DB_NAME', 'database_name');
define('ENV_DB_USER', 'database_user');
define('ENV_DB_PASSWORD', 'database_password');
define('ENV_DB_HOST', 'database_host');

define('ENV_WP_ENV', 'development');
define('ENV_WP_HOME', 'http://example.com');
define('ENV_WP_SITEURL', 'http://example.com/wordpress');

define('ENV_AUTH_KEY', 'abc');
define('ENV_SECURE_AUTH_KEY', 'abc');
define('ENV_LOGGED_IN_KEY', 'abc');
define('ENV_NONCE_KEY', 'abc');
define('ENV_AUTH_SALT', 'abc');
define('ENV_SECURE_AUTH_SALT', 'abc');
define('ENV_LOGGED_IN_SALT', 'abc');
define('ENV_NONCE_SALT', 'abc');

define('ENV_ASSET_VERSION', '1');
define('ENV_INSTAGRAM_USER_ID', '123');
define('ENV_INSTAGRAM_ACCESS_TOKEN', 'abc');

define('ENV_WP_DEBUG', true);
