//
// Component: Header
// =============================================================================

$component-name: "Header";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include breakpoint(0 $small-medium) {
    padding-left: $page-gutter;
    padding-top: $base-line-height / 2;
    padding-bottom: $base-line-height / 2;
  }

  @include breakpoint($small-medium) {
    margin-top: $base-line-height;
  }

  @include breakpoint($small-medium $to-medium) {
    margin-bottom: $base-line-height;
  }

  @include breakpoint($medium) {
    margin-bottom: $base-line-height * 2;
  }
}
