//
// Component: Headline
// =============================================================================

$component-name: "Headline";
$component-base: ".#{$component-name}";

#{$component-base} {
  font-weight: normal;

  // Variant: 1
  // ---------------------------------------------------------------------------
  &--1 {
    font-family: $handwriting-font-family;
    font-size: 40px;
    text-align: center;
    line-height: 0.8;

    margin-bottom: $base-line-height;

    @include breakpoint($small-medium) {
      font-size: 50px;
    }

    @include breakpoint($medium) {
      font-size: 80px;

      margin-bottom: $base-line-height * 2;
    }
  }

  // Variant: 2
  // ---------------------------------------------------------------------------
  &--2 {
    font-family: $handwriting-font-family;
    font-size: 28px;
    line-height: 0.8;

    margin-bottom: $base-line-height;

    @include breakpoint($small-medium) {
      font-size: 36px;
    }

    @include breakpoint($medium) {
      font-size: 52px;

      margin-bottom: $base-line-height * 2;
    }
  }

  // Variant: 3
  // ---------------------------------------------------------------------------
  &--3 {
    font-family: $fjalla-one-font-family;
    font-weight: normal;
    font-size: 20px;

    @include breakpoint($medium) {
      font-size: 28px;
    }
  }

  // Variant: Dotted
  // ---------------------------------------------------------------------------
  &--dotted {
    position: relative;

    padding-top: $base-line-height * 2;

    &::before,
    &::after {
      content: "";

      position: absolute;

      top: 0;
      left: 50%;

      width: 10px;
      height: 10px;

      border-radius: 5px;

      background: $color-yellow;
    }

    &::before {
      margin-left: -15px;
    }

    &::before {
      margin-after: 15px;
    }
  }
}
