//
// Component: Meta
// =============================================================================

$component-name: "Meta";
$component-base: ".#{$component-name}";

#{$component-base} {
  overflow: hidden;

  text-overflow: ellipsis;
  font-family: $meta-font-family;
  font-size: 16px;

  // Variant: Before
  // ---------------------------------------------------------------------------
  &--handwriting {
    font-family: $handwriting-font-family;
  }
}
