//
// Component: Project Item
// =============================================================================

$component-name: "ProjectItem";
$component-base: ".#{$component-name}";

$transitoin-duration: 0.2s;
$text-start-bottom: -20px;

#{$component-base} {
  display: block;

  position: relative;

  margin-bottom: $base-line-height / 4;

  overflow: hidden;

  color: $color-white;

  &:hover,
  &:focus {
    text-decoration: none;

    #{$component-base}-text {
      bottom: 0;

      opacity: 1;
    }
  }

  // Element: Media
  // ---------------------------------------------------------------------------
  &-media {
    background: $color-black;
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    position: absolute;

    left: 0;
    right: 0;
    bottom: $text-start-bottom;

    padding: 20px;

    opacity: 0;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 8));

    transition: opacity $transitoin-duration, bottom $transitoin-duration;
  }

  // Element: Title
  // ---------------------------------------------------------------------------
  &-title {
    margin-bottom: 0;
  }

  // Element: Category
  // ---------------------------------------------------------------------------
  &-category {
    font-family: $meta-font-family;
  }
}
