//
// Component: Text
// =============================================================================

$component-name: "Text";
$component-base: ".#{$component-name}";

$sizes: (
  $zero: (
    font-size: 18px,
    margin-bottom: $base-line-height
  ),
  $small-medium: (
    font-size: 20px,
    margin-bottom: $base-line-height * 1.5
  ),
  $medium: (
    font-size: 24px,
    margin-bottom: $base-line-height * 2
  )
);

#{$component-base} {
  @each $breakpoint, $val in $sizes {
    $map: map-get($sizes, $breakpoint);

    @include breakpoint($breakpoint) {
      font-size: map-get($map, font-size);
    }
  }

  // Element: Preamble
  // ---------------------------------------------------------------------------
  &-preamble {
    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        font-size: map-get($map, font-size) * 1.4;
        margin-bottom:  map-get($map, margin-bottom);
      }
    }

    @include breakpoint($medium) {
      margin-left: -100px;
      margin-right: -100px;
    }
  }

  // Element: blockquote (non SUIT)
  // ---------------------------------------------------------------------------
  blockquote {
    border-left: 4px solid $color-yellow;

    padding-left: $base-line-height;
    padding-top: $base-line-height / 2;
    padding-bottom: $base-line-height / 2;

    @include breakpoint($small) {
      padding-right: $base-line-height;
    }

    @include breakpoint($medium) {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: darken($color-blue, 20%);
    }
  }
}
