//
// Component: Grid
// =============================================================================

$component-name: "Grid";
$component-base: ".#{$component-name}";

#{$component-base} {
  // Variant: 12 - 6 - 3
  // ---------------------------------------------------------------------------
  &--12-6-3 {
    @include breakpoint($small) {
      @include grid;
    }

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include breakpoint($small $to-large) {
        @include grid-columns(6);
      }

      @include breakpoint($large) {
        @include grid-columns(3);
      }
    }
  }

  // Variant: 12 - 6
  // ---------------------------------------------------------------------------
  &--12-6 {
    @include breakpoint($medium) {
      @include grid;
    }

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include breakpoint($medium) {
        @include grid-columns(6);
      }
    }
  }

  // Variant: 6 - 3 - 2
  // ---------------------------------------------------------------------------
  &--6-3-2 {
    @include grid;

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include grid-columns(6);

      @include breakpoint($small $to-medium) {
        @include grid-columns(3);
      }

      @include breakpoint($medium) {
        @include grid-columns(2);
      }
    }
  }

  // Variant: 6 - 4 - 3
  // ---------------------------------------------------------------------------
  &--6-4-3 {
    @include grid;

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include grid-columns(6);

      @include breakpoint($small $to-medium) {
        @include grid-columns(4);
      }

      @include breakpoint($medium) {
        @include grid-columns(3);
      }
    }
  }

  // Variant: 12 - 9 & 3
  // ---------------------------------------------------------------------------
  &--12-9_3 {
    @include breakpoint($large) {
      @include grid;
    }

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      &:first-child {
        @include breakpoint($large) {
          @include grid-columns(9);
        }
      }

      &:last-child {
        @include breakpoint($large) {
          @include grid-columns(3);
        }
      }
    }
  }

  // Variant: Center 12 - 8
  // ---------------------------------------------------------------------------
  &--center-12-8 {
    @include breakpoint($small) {
      @include grid(true);
    }

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include breakpoint($small $to-medium) {
        @include grid-columns(12, true);
      }

      @include breakpoint($medium) {
        @include grid-columns(8, true);
      }
    }
  }

  // Variant: Center 8 - 6
  // ---------------------------------------------------------------------------
  &--center-8-6 {
    @include breakpoint($small) {
      @include grid(true);
    }

    // Element: Item
    // -------------------------------------------------------------------------
    #{$component-base}-item {
      @include breakpoint($small $to-medium) {
        @include grid-columns(8, true);
      }

      @include breakpoint($medium) {
        @include grid-columns(6, true);
      }
    }
  }

  // Variant: Reverse
  // ---------------------------------------------------------------------------
  &--reverse {
    direction: rtl;

    #{$component-base}-item {
      direction: ltr;
    }
  }
}
