//
// Component: Header
// =============================================================================

$component-name: "Header";
$component-base: ".#{$component-name}";

#{$component-base} {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
