//
// Component: Header
// =============================================================================

$component-name: "Header";
$component-base: ".#{$component-name}";

#{$component-base} {
  background: $color-yellow;

  margin-bottom: $header-margin-bottom;
}
