//
// Component: Logotype
// =============================================================================

$component-name: "Logotype";
$component-base: ".#{$component-name}";

$logotype-width: 150px;
$logotype-height: 75px;

#{$component-base} {
  display: block;

  width: $logotype-width;
  height: $logotype-height;
}
