//
// Component: MainNav
// =============================================================================

$component-name: "MainNav";
$component-base: ".#{$component-name}";

$logotype-width: 42px;
$logotype-height: 44px;
$item-margin: 15px;
$shadow-width: 20px;
$link-hover-opacity: 0.8;

$sizes: (
  $small-medium: (
    height: $base-line-height * 3,
    link-size: 18px,
    logotype-width: 64px,
    logotype-height: $base-line-height * 3,
    item-margin: 20px,
    item-spacing-logo: 80px,
    current-border-width: 2px
  ),
  $medium: (
    height: $base-line-height * 4,
    link-size: 22px,
    logotype-width: 85px,
    logotype-height: $base-line-height * 4,
    item-margin: 30px,
    item-spacing-logo: 100px,
    current-border-width: 3px
  ),
  $large: (
    height: $base-line-height * 5,
    link-size: 26px,
    logotype-width: 106px,
    logotype-height: $base-line-height * 5,
    item-margin: 40px,
    item-spacing-logo: 120px,
    current-border-width: 4px
  )
);

#{$component-base} {
  position: relative;

  @include breakpoint($small-medium) {
    text-align: center;
  }

  @each $breakpoint, $val in $sizes {
    $map: map-get($sizes, $breakpoint);

    @include breakpoint($breakpoint) {
      height: map-get($map, height);
    }
  }

  &:before {
    @include breakpoint(0 $small-medium) {
      content: "";

      position: absolute;

      z-index: 1;

      right: 0;
      top: 0;
      bottom: 0;

      width: $shadow-width;

      pointer-events: none;

      background: linear-gradient(to right, rgba($color-dark-blue-grey, 0), rgba($color-dark-blue-grey, 1));
    }
  }

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {
    @include breakpoint(0 $small-medium) {
      display: inline-block;

      width: $logotype-width;

      vertical-align: middle;
    }

    @include breakpoint($small-medium) {
      position: absolute;

      left: 50%;
      top: 0;

      z-index: 1;
    }

    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        width: map-get($map, logotype-width);

        margin-left: (map-get($map, logotype-width) / 2) * -1;
      }
    }
  }

  // Element: List Wrapper
  // ---------------------------------------------------------------------------
  &-listWrapper {
    @include breakpoint(0 $small-medium) {
      position: absolute;

      left: $logotype-width + $item-margin * 2;
      right: 0;
      top: 0;
      bottom: 0;

      padding-top: ($logotype-height / 2) - ($base-font-size * ($base-line-height / $base-font-size) / 2);

      overflow: auto;
      -webkit-overflow-scrolling: touch;

      white-space: nowrap;
    }
  }

  // Element: List
  // ---------------------------------------------------------------------------
  &-list {
    @extend %reset-list;

    font-size: 0;

    @include breakpoint($small-medium) {
      display: inline-block;
      position: relative;
    }

    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        top: (map-get($map, height) / 2) - (map-get($map, link-size) * ($base-line-height / $base-font-size) / 2);
      }
    }
  }

  // Element: Item
  // ---------------------------------------------------------------------------
  &-item {
    display: inline-block;

    @include breakpoint(0 $small-medium) {
      margin-left: $item-margin;
      margin-right: $item-margin;
    }

    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        margin-left: map-get($map, item-margin);
        margin-right: map-get($map, item-margin);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      @include breakpoint(0 $small-medium) {
        margin-right: $shadow-width;
      }
    }

    // State: Is Current
    // -------------------------------------------------------------------------
    &.is-current {
      border-bottom: 2px solid $color-white;

      @include breakpoint($small-medium) {
        border-bottom-color: $color-dark-blue-grey;
      }

      @each $breakpoint, $val in $sizes {
        $map: map-get($sizes, $breakpoint);

        @include breakpoint($breakpoint) {
          border-bottom-width: map-get($map, current-border-width);
        }
      }
    }

    // Variant: Before logo
    // -------------------------------------------------------------------------
    &--beforeLogo {
      @each $breakpoint, $val in $sizes {
        $map: map-get($sizes, $breakpoint);

        @include breakpoint($breakpoint) {
          margin-right: map-get($map, item-spacing-logo);
        }
      }
    }

    // Variant: After logo
    // -------------------------------------------------------------------------
    &--afterLogo {
      @each $breakpoint, $val in $sizes {
        $map: map-get($sizes, $breakpoint);

        @include breakpoint($breakpoint) {
          margin-left: map-get($map, item-spacing-logo);
        }
      }
    }
  }

  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    font-family: $headline-font-family;
    font-size: $base-font-size;

    @include breakpoint(0 $small-medium) {
      color: $color-white;
    }

    @include breakpoint($small-medium) {
      color: $color-dark-blue-grey;
    }

    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        font-size: map-get($map, link-size);
      }
    }

    &:hover {
      text-decoration: none;

      opacity: $link-hover-opacity;
    }
  }
}
