//
// Component: MainNav
// =============================================================================

$component-name: "MainNav";
$component-base: ".#{$component-name}";

$height: $base-line-height * 5;
$link-size: 26px;
$logotype-width: 106px;
$logotype-height: $height;
$item-margin: 40px;
$item-spacing-logo: 120px;

#{$component-base} {
  position: relative;

  height: $height;

  text-align: center;

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {
    position: absolute;

    left: 50%;
    top: 0;

    margin-left: ($logotype-width / 2) * -1;

    width: $logotype-width;

    z-index: 1;
  }

  // Element: List
  // ---------------------------------------------------------------------------
  &-list {
    @extend %reset-list;

    display: inline-block;
    position: relative;

    top: ($height / 2) - ($link-size * ($base-line-height / $base-font-size) / 2);

    font-size: 0;
  }

  // Element: Item
  // ---------------------------------------------------------------------------
  &-item {
    display: inline-block;

    margin-left: $item-margin;
    margin-right: $item-margin;

    // Variant: Before logo
    // -------------------------------------------------------------------------
    &--beforeLogo {
      margin-right: $item-spacing-logo;
    }

    // Variant: After logo
    // -------------------------------------------------------------------------
    &--afterLogo {
      margin-left: $item-spacing-logo;
    }
  }

  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    font-family: $headline-font-family;
    font-size: $link-size;
    color: $color-black;

    &:hover {
      text-decoration: none;
    }
  }
}
