//
// Component: Main
// =============================================================================

$component-name: "Main";
$component-base: ".#{$component-name}";

#{$component-base} {
  outline: 0; // Tabindex is defined for accessibilty reasons
}
