//
// Component: Media Intro
// =============================================================================

$component-name: "MediaIntro";
$component-base: ".#{$component-name}";

$media-height: "100vh - #{$main-nav-height + $header-margin-bottom}";
$image-opacity: 0.2;

#{$component-base} {
  position: relative;

  height: calc(#{$media-height});

  // Element: Media Wrapper
  // ---------------------------------------------------------------------------
  &-mediaWrapper {
    height: $media-height;
  }

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
    width: calc(((#{$media-height}) / 9) * 16);
    height: 100%;
    max-width: 100%;

    margin: 0 auto;

    border: 0;
  }

  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    background: $color-black;
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    opacity: $image-opacity;
  }

  // Element: Text Wrapper
  // ---------------------------------------------------------------------------
  &-textWrapper {
    @include breakpoint($small) {
      position: absolute;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    @extend %flex-embed-item;

    @include breakpoint($small) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // Element: Text Inner
  // ---------------------------------------------------------------------------
  &-textInner {
    text-align: center;

    @include breakpoint(0 $to-large) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    @include breakpoint($small) {
      color: $color-white;
    }

    @include breakpoint($large) {
      width: 80%;
    }
  }

  // Element: Headline
  // ---------------------------------------------------------------------------
  &-headline {
    font-family: $handwriting-font-family;
    line-height: 0.8;
    font-size: 50px;

    @include breakpoint($medium) {
      margin-bottom: $base-line-height;

      font-size: 100px;
    }

    @include breakpoint($x-large) {
      margin-bottom: $base-line-height * 2;

      font-size: 140px;
    }
  }

  // Element: Body
  // ---------------------------------------------------------------------------
  &-body {
    margin-bottom: $base-line-height;

    @include breakpoint($medium) {
      font-size: 24px;
    }

    @include breakpoint($x-large) {
      margin-bottom: $base-line-height * 2;
    }
  }
}
