//
// Component: Project Item
// =============================================================================

$component-name: "ProjectItem";
$component-base: ".#{$component-name}";

#{$component-base} {
  display: block;

  margin-bottom: $base-line-height * 2;

  color: $color-black;

  &:hover {
    text-decoration: none;

    #{$component-base}-media {
      opacity: $link-hover-opacity;
    }
  }

  // Element: Media
  // ---------------------------------------------------------------------------
  &-media {
    background: $color-brightness-87;
  }

  // Element: Title
  // ---------------------------------------------------------------------------
  &-title {
    font-family: $fjalla-one-font-family;
    font-weight: normal;
    font-size: 18px;

    @include theme-dark {
      color: $color-white;
    }
  }
}
