//
// Component: Text
// =============================================================================

$component-name: "Text";
$component-base: ".#{$component-name}";

$sizes: (
  $zero: (
    font-size: 18px
  ),
  $small-medium: (
    font-size: 20px
  ),
  $medium: (
    font-size: 24px
  )
);

#{$component-base} {
  @each $breakpoint, $val in $sizes {
    $map: map-get($sizes, $breakpoint);

    @include breakpoint($breakpoint) {
      font-size: map-get($map, font-size);
    }
  }

  &-preamble {
    @each $breakpoint, $val in $sizes {
      $map: map-get($sizes, $breakpoint);

      @include breakpoint($breakpoint) {
        font-size: map-get($map, font-size) * 1.4;
      }
    }

    @include breakpoint($medium) {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}
