//
// Component: Wrapper
// =============================================================================

$component-name: "Wrapper";
$component-base: ".#{$component-name}";

#{$component-base} {
  max-width: $site-max-width;

  padding-left: $page-gutter;
  padding-right: $page-gutter;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  @include breakpoint($medium) {
    padding-left: $page-gutter-m;
    padding-right: $page-gutter-m;
  }

  // Variant: Bleed
  // ---------------------------------------------------------------------------
  &--bleed {
    @include breakpoint(0 ($site-max-width - ($page-gutter-m * 2))) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
