//
// Component: Wrapper
// =============================================================================

$component-name: "Wrapper";
$component-base: ".#{$component-name}";

#{$component-base} {
  max-width: $site-max-width;

  padding-left: $page-gutter;
  padding-right: $page-gutter;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  @include breakpoint($medium) {
    padding-left: $page-gutter-m;
    padding-right: $page-gutter-m;
  }
}
