// Colors
// -----------------------------------------------------------------------------
$color-black: #222;
$color-blue: #00c;
$color-brightness-20: #333;
$color-brightness-50: #808080;
$color-white: #fff;
$color-yellow: #f9c453;
$color-dark-blue-grey: #373b44;


// Typography
$base-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$headline-font-family: "Fjalla One", sans-serif;

// Sizes
$base-font-size: 16px;
$base-line-height: 22px;
$main-nav-height: $base-line-height * 3;
$site-max-width: 1400px;
$gutter: $base-line-height * 2;


// Grid
$grid-columns: 12;


// Breakpoints
// -----------------------------------------------------------------------------
$x-small: 340px;
$small: 450px;
$medium: 768px;
$large: 910px;
$x-large: 1200px;
$to-x-small: $x-small - 1;
$to-small: $small - 1;
$to-medium: $medium - 1;
$to-large: $large - 1;
$to-x-large: $x-large - 1;
