// Colors
// -----------------------------------------------------------------------------
$color-black: #222;
$color-blue: #5372f9;
$color-brightness-20: #333;
$color-brightness-50: #808080;
$color-brightness-87: #ddd;
$color-white: #fff;
$color-yellow: #f9c453;
$color-yellow-light: #fff4de;
$color-dark-blue-grey: #373b44;

// Typography
$base-font-family: "Palatino", "Georgia", serif;
$meta-font-family: "Arial", sans-serif;
$fjalla-one-font-family: "Fjalla One", sans-serif;
$handwriting-font-family: "Permanent Marker", sans-serif;

// Sizes and values
$base-font-size: 18px;
$base-line-height: 24px;
$site-max-width: 1400px;

$gutter: 16px;
$gutter-m: $base-line-height / 4;

$page-gutter: 16px;
$page-gutter-m: 30px;

$link-hover-opacity: 0.8;


// Grid
$grid-columns: 12;


// Breakpoints
// -----------------------------------------------------------------------------
$zero: 0;
$x-small: 340px;
$small: 450px;
$small-medium: 600px;
$medium: 768px;
$large: 910px;
$x-large: 1200px;
$to-x-small: $x-small - 1;
$to-small: $small - 1;
$to-small-medium: $small-medium - 1;
$to-medium: $medium - 1;
$to-large: $large - 1;
$to-x-large: $x-large - 1;
