html,
input,
button,
select,
textarea {
  color: $color-black;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height / $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

p,
ul,
ol {
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $handwriting-font-family;
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 0.8;

  @include breakpoint($small-medium) {
    font-size: 50px;
  }

  @include breakpoint($medium) {
    font-size: 80px;
  }
}

h1,
h2,
h3 {
  margin-bottom: $base-line-height;
}

h4,
h5,
h6 {
  margin-bottom: 0;
}
